<h1>
  <button (click)="left()">
    <i class="material-icons">arrow_back</i>
  </button>
  {{customer.name}}
  <button (click)="right()">
    <i class="material-icons">arrow_forward</i>
  </button>
</h1>

<p>
  <i> {{customer.name}} is at
      {{customer.address.street}} in
      {{customer.address.city}},
      {{customer.address.state}} in the
      {{customer.address.region}} region.
  </i>
</p>

<fieldset>
  <label>
    Name:
    <input [(ngModel)]="customer.name" placeholder="Customer name">
  </label>
</fieldset>

<br>

<label>
  <input type="checkbox" [(ngModel)]="showAddress"/>Show Address
</label>

<div *ngIf="showAddress">
  <my-address [address]="customer.address"></my-address>
</div>
